week-01/docker-sql/ny_taxi_postgres_data/**
week-01/docker-sql/data_pgadmin/**
week-01/terraform/.terraform/providers/registry.terraform.io/hashicorp/google/**
week-01/docker-sql/ny_taxi_postgres_data/base/16384/1640
week-01/docker-sql/ny_taxi_postgres_data/base/16384/1639
/oop_*
.env
